@tailwind base;
@tailwind components;
@tailwind utilities; 

body{
  height: 100vh;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.form{
  font-family: Nunito;
}   

.ant-checkbox-inner { 
  border-radius: 50% !important;
  &::after{
    display: none !important; 
  } 
}
.ant-radio-inner {  
  &::after{
    display: none !important; 
  } 
}